
@using System;
@using System.Net;
@using System.Net.Mail;
@using SendGrid;
@model Tuple<WebApplication1.Models.Job, WebApplication1.Models.ContactViewModel>

@*@model WebApplication1.Models.DetailParentModel*@

@{
    ViewBag.Title = "Details";


    }


<h2>Apply to Job</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.PayRate)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.PayRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.City)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.State)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.State)
        </dd>
        

    </dl>
</div>

    
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Item1.Employer }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>