
@using System;
@using System.Net;
@using System.Net.Mail;
@using SendGrid;
@model WebApplication1.Models.Job

@{
    ViewBag.Title = "Apply";
    WebApplication1.Models.EmailFormModel eModel = new WebApplication1.Models.EmailFormModel();
    Session["eEmail"] = Model.Email;
}


<h2>Apply to Job</h2>
<div class="row">
    <hr />
<div class="col-md-6">


    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        

    </dl>
</div>


<div class="col-md-6">
@Html.Partial("~/Views/Jobs/Apply.cshtml", eModel)
</div>
 </div>   
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Item1.Employer }) |*@
    <a href="@Url.Action("Index","Jobs")" class="btn btn-success">Back to Jobs</a>
    @*@Html.ActionLink("<< Back to List", "Index")*@ 
    @*@Html.ActionLink("Apply to this job", "Apply")*@
</p>