
@using System;
@using System.Net;
@using System.Net.Mail;
@using SendGrid;
@*@model Tuple<WebApplication1.Models.Job, WebApplication1.Models.EmailFormModel>*@
@model WebApplication1.Models.Job
@*@model WebApplication1.Models.DetailParentModel*@
@{
    
    ViewBag.Title = "Details";
   @*WebApplication1.Models.EmailFormModel eModel = new WebApplication1.Models.EmailFormModel();
    eModel.EmployerEmail = Model.Email;
    //var EmployerEmail = Model.Job.Email;

    *@}


<h2>Apply to Job</h2>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        

    </dl>
</div>
@*@Html.Partial("~/Views/Jobs/Apply.cshtml", eModel)*@
@*
@using (Html.BeginForm(Model.EmailFormModel))
{
    @*Html.Hidden("recipient", Model.Item1.Email);
    @Html.AntiForgeryToken()
    <h4>Send your comments.</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.EmailFormModel.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EmailFormModel.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmailFormModel.FirstName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailFormModel.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EmailFormModel.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmailFormModel.LastName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailFormModel.FromEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EmailFormModel.FromEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmailFormModel.FromEmail)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailFormModel.PermanentAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EmailFormModel.PermanentAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmailFormModel.PermanentAddress)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailFormModel.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EmailFormModel.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmailFormModel.PhoneNumber)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailFormModel.WorkExperience, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.EmailFormModel.WorkExperience, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmailFormModel.WorkExperience)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailFormModel.Skills, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.EmailFormModel.Skills, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmailFormModel.Skills)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailFormModel.AdditionalComments, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.EmailFormModel.AdditionalComments, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmailFormModel.AdditionalComments)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


*@
    
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Item1.Employer }) |*@
    @Html.ActionLink("Back to List", "Index") | 
    @*@Html.ActionLink("Apply to this job", "Apply")*@
</p>